<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8"/>
        <style>
            body {
                background-color: #F0FFFF;
            }
        </style>
        <title>Reseptiarkisto - katso resepti&#228;</title>
    </head>
    <body>

        <h2 th:text="${resepti}">Otsikko</h2>
        
        <ol>
            <li th:each="ainesosa : ${ainesosat}">
                <span th:text="${ainesosa}"></span>
            </li>
        </ol>
        
        <a href="../../../">Takaisin</a>
    </body>
</html>
