<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8"/>
        <style>
            body {
                background-color: #F0FFFF;
            }
        </style>
        <title>Reseptiarkisto - reseptin lis&#228;ys</title>
    </head>
    <body>

        <h2>Lis&#228;&#228; resepti</h2>
        
        <form method="POST" action="/resepti/lisaa">
            Reseptin nimi:<br/>
            <input type="text" name="resepti"/>
            <input type="submit" value="Lis&#228;&#228; resepti"/>
        </form>
        
        <p>Lis&#228;tyt reseptit:</p>
        <ol>
            <li th:each="resepti: ${reseptilista}">
                <span th:text="${resepti.nimi}"></span>
                <form method="POST" th:action="@{~/resepti/poista/{reseptiId}(reseptiId=${resepti.id})}">
                    <input type="submit" value="Poista"/>
                </form> 
            </li>
        </ol>
        
        <p>K&#228;ytett&#228;v&#228;t raaka-aineet:</p>
        <ul>
            <li th:each="raakaaine: ${raakaainelista}">
                <span th:text="${raakaaine.nimi}"></span>
            </li>
        </ul>
        
        <h2>Liit&#228; raaka-aineita reseptiin</h2>
        
        
        <form method="POST" action="/resepti/liita">
            Resepti: <br/>
            <input type="text" name="resepti"/><br/>
            Raaka-aine: <br/>
            <input type="text" name="raaka-aine"/><br/>
            Lis&#228;&#228;misj&#228;rjestys:<br/>
            <input type="text" name="jarjestys"/><br/>
            M&#228;&#228;r&#228;:<br/>
            <input type="text" name="maara"/><br/>
            Ohje:<br/>
            <input type="text" name="ohje"/><br/>
            <input type="submit" value="Liit&#228; reseptiin"/>
        </form><br/>
        
        <h3>Ohje liitt&#228;miseen</h3>
        <p>
            1. Kirjoita reseptin nimi Resepti-kentt&#228;&#228;n. Varmista, ett&#228; olet lis&#228;nnyt reseptin.<br/>
            2. Kirjoita raaka-aineen nimi Raaka-aine kentt&#228;&#228;n. Varmista, ett&#228; raaka-aine on lis&#228;tty.<br/>
            3. Kirjoita raaka-aineen lis&#228;&#228;misj&#228;rjestysnumero. Esimerkiksi 1 tai 3.<br/>
            4. Kirjoita lis&#228;tt&#228;v&#228;n raaka-aineen m&#228;&#228;r&#228;. Esimerkiksi "2 kpl" tai "500 g"<br/>
            5. Kirjoita viimeiseksi ohjeistus miten raaka-aine tulee valmistella tai lis&#228;t&#228;. Esimerkiksi "Viipaloi kurkku ja lis&#228;&#228; pataan"
        </p>
        
        <a href="../../">Takaisin</a>
    </body>
</html>