<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8"/>
        <style>
            body {
                background-color: #F0FFFF;
            }
        </style>
        <title>V&#228;&#228;r&#228;&#228; tietoa!</title>
    </head>
    <body>
        <p>Annoit joko v&#228;&#228;r&#228;n reseptin nimen tai raaka-aineen nimen</p><br/>

        <a href="../">Takaisin</a>
    </body>
</html>
